<p-dialog [style]="{ width: '450px' }" header="Add UOM" [(visible)]="visible" [modal]="true" (onHide)="hideDialog()">
    <ng-template #content>
        <div class="flex flex-col gap-6">
            <div>
                <label for="code" class="block font-bold mb-3">Code</label>
                <input type="text" pInputText id="code" [(ngModel)]="uom.code" (ngModelChange)="onCodeChange()" required autofocus fluid />
                <small class="text-red-500" *ngIf="submitted && !uom.code">Code is required.</small>
                <small class="text-red-500" *ngIf="isCodeDuplicate">Code already exists.</small>
            </div>
            <div>
                <label for="name" class="block font-bold mb-3">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="uom.name" required fluid />
                <small class="text-red-500" *ngIf="submitted && !uom.name">Name is required.</small>
            </div>
        </div>
    </ng-template>

    <ng-template #footer>
        <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
        <p-button label="Save" icon="pi pi-check" (click)="saveUom()" />
    </ng-template>
</p-dialog>
